.rawaymario-accordion{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
}

.rawaymario-accordion > .accordion-element{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
.rawaymario-accordion > .accordion-element > .top{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	cursor: pointer;
	color: '{primaryColor}';
	border: 2px solid '{secondaryColor}';
	border-radius: 5px;
	padding: 15px;
}
.rawaymario-accordion > .accordion-element.active > .top{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.rawaymario-accordion > .accordion-element:hover > .top,
.rawaymario-accordion > .accordion-element.active > .top{
	background-color: '{secondaryColor}';
}
.rawaymario-accordion > .accordion-element > .top > .icon + .title{
	margin-left: 5px;
}
.rawaymario-accordion > .accordion-element > .top > .btn{
	position: absolute;
	right: 12px;
	top: 20px;
}
.rawaymario-accordion > .accordion-element > .top > .btn:before{
	content: "";
	position: absolute;
	top: 6px;
	right: 0;
	width: 14px;
	height: 2px;
	background-color: '{primaryColor}';

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.rawaymario-accordion > .accordion-element > .top.active > .btn:before{
	transform: rotate(45deg);
}
.rawaymario-accordion > .accordion-element > .top > .btn:after{
	content: "";
	position: absolute;
	top: 0px;
	right: 6px;
	width: 2px;
	height: 14px;
	background-color: '{primaryColor}';

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.rawaymario-accordion > .accordion-element > .top.active > .btn:after{
	transform: rotate(45deg);
}
.rawaymario-accordion > .accordion-element > .bottom{
	display: none;
	border: 2px solid '{secondaryColor}';
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px 15px;
}
.rawaymario-accordion > .accordion-element.active > .bottom{
	display: block;
}